<div>
<p>Thanks for reading! If you have any questions about this publication, or if you'd like to report an error or typo, please <a href='mailto:stories@chinatown.today'>connect with us</a>.</p>
</div>