<header class="cover" id="cover">
  <h1 class="cover__heading" data-state="initial" id="logo">
    <img class="cover__title" src="/static/assets/cover/title.svg" alt="Chinatown Today: Chinatown Stories Volume 3">
  </h1>
  <img class="cover__gate" src="/static/assets/cover/gate.svg" alt="Black and white line drawing of the Chinatown Millennium Gate">
  <img class="cover__tree" src="/static/assets/cover/branch_2.svg" alt="Line drawing of a plum tree in black and white with pink blossoms">
  <img class="cover__logo" src="/static/assets/logos/chinatown_today.png" alt="Chinatown Today logo">
  <img class="cover__lattice cover__lattice--left" src="/static/assets/cover/lattice.svg" alt="Decorative Chinese lattice structure in red on bottom left of screen">
  <img class="cover__lattice cover__lattice--right" src="/static/assets/cover/lattice.svg" alt="Decorative Chinese lattice structure in red on top right of screen">
</header>
