<header class="cover">
  <h1 class="cover__heading">
    <img class="cover__logo" src="/static/assets/cover/title.svg" alt="Chinatown Today: Chinatown Stories Volume 3">
  </h1>
  <img class="cover__gate" src="/static/assets/cover/gate.svg" alt="Black and white line drawing of the Chinatown Millennium Gate">
  <img class="cover__left-lattice" src="/static/assets/cover/lattice.svg" alt="">
  <img class="cover__right-lattice" src="/static/assets/cover/lattice.svg" alt="">
</header>
