.acknowledgement {
  text-align: center;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.acknowledgement__logos {
  .logos {
    width: 150px;
    align-items: center;
  }
}

.acknowledgement__long-list {
  columns: 2;
}
