.bios__hr {
  background-image: url("../../static/assets/hrimage.png");
  display: block;
  border: 0;
  height: 5rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
