.content {
  position: relative;
  top: 0;
  padding: 3rem 0;
  background-color: var(--color-white);
  z-index: 10;
  transform: translate3d(0, 0, 0);
}

.content__heading {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.content__contact {
  margin-top: 3rem;
  text-align: center;
}
