.cover {
  --border-offset: 1.5rem;
  --logo-duration: 1.5s;
  --logo-ease: ease-in-out;
  position: relative;
  top: 0;
  overflow: hidden;
  height: 30rem;
  min-height: 100vh;
  min-height: calc(100vh - var(--vh-offset, 0px));
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    top: var(--border-offset);
    bottom: var(--border-offset);
    left: var(--border-offset);
    right: var(--border-offset);
    border: 0.5rem solid var(--color-red);
  }

  @media (min-height: 30em) {
    position: sticky;
  }
}

.cover__heading {
  position: absolute;
  margin: 0;
  transition-duration: var(--logo-duration);
  z-index: 2;

  &[data-state="initial"] {
    top: 50%;
    left: 50%;
    width: 70%;
    max-width: 35rem;
  }

  &[data-state="complete"] {
    top: 4rem;
    left: 50%;
    width: 70%;
    max-width: 35rem;
    transition-timing-function: var(--logo-ease);

    .cover__title {
      transform: translateX(-50%);
    }
  }

  &[data-flipping] {
    transform: translateX(calc(-1px * var(--dx)))
      translateY(calc(-1px * var(--dy)));
    transition-duration: 0s;
  }
}

.cover__title {
  transform: translate(-50%, -50%);
  transition: transform var(--logo-duration) var(--logo-ease);
  animation: 1.5s fadeIn forwards;
}

.cover__gate {
  position: absolute;
  display: block;
  width: 140%;
  max-width: none;
  left: 15%;
  bottom: 3rem;
  opacity: 0;
}

.cover__lattice {
  display: none;
  position: absolute;
  width: 30%;
  max-width: 15rem;
  opacity: 0;
}

.cover__lattice--left {
  bottom: var(--border-offset);
  left: var(--border-offset);
}

.cover__lattice--right {
  transform: rotate(180deg);
  top: var(--border-offset);
  right: var(--border-offset);
}

.cover--logo-moved {
  .cover__gate {
    animation: fadeIn 1s forwards 0.5s;
  }

  .cover__lattice {
    animation: fadeIn 1s forwards 1s;
  }

  .cover__tree {
    animation: fadeIn 1s forwards;
  }
}

.cover__tree {
  position: absolute;
  display: block;
  width: 100%;
  max-width: none;
  left: -2rem;
  bottom: 0;
  opacity: 0;
}

.cover__logo {
  position: absolute;
  display: block;
  background-color: var(--color-red);
  width: 150px;
  left: 50%;
  bottom: 3.5rem;
  transform: translateX(-50%);
}

@media (min-width: 40em) {
  .cover__gate {
    width: 60%;
    max-width: 55rem;
    left: 12rem;
    bottom: 5rem;
    right: 5rem;
  }
  .cover__tree {
    max-width: 60%;
  }
  .cover__logo {
    width: 200px;
    bottom: 4.5rem;
    right: 3.5rem;
  }
}

@media (min-width: 62em) and (orientation: landscape) {
  .cover {
    --border-offset: 3rem;
  }

  .cover__heading {
    &[data-state="complete"] {
      top: 8rem;
      left: 8rem;
      max-width: 25rem;

      .cover__title {
        transform: none;
      }
    }
  }

  .cover__gate {
    left: auto;
  }

  .cover__lattice {
    display: block;
  }

  .cover__tree {
    max-width: 50%;
  }
  .cover__logo {
    bottom: 5rem;
  }
}

@media (min-width: 90em) and (orientation: landscape) {
  .cover__tree {
    left: 10%;
    bottom: -5%;
  }
}

@media (min-width: 100em) and (orientation: landscape) {
  .cover__tree {
    left: 20%;
    bottom: -10%;
  }
}
