.land-acknowledgement {
  position: relative;
  display: flex;
  align-items: center;
  top: 0;
  padding: 2.5rem 0;
  min-height: 100vh;
  background-color: var(--color-dark-red);
  color: var(--color-white);
  text-align: center;
  font-size: 0.875em;
  z-index: 2;

  p {
    margin: 0;
  }
}
@media (min-width: 48em) {
  .land-acknowledgement {
    padding: 5rem 0;
    font-size: 1em;
  }
}
