*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  font-family: var(--font-base);
  line-height: 1.5;
  background-color: var(--color-white);
  color: var(--color--offblack);
}

img {
  max-width: 100%;
  height: auto;
}
