:root {
  --color-white: #fff;
  --color-offwhite: #fefaef;
  --color-light-pink: #faeee5;
  --color-red: #c12025;
  --color-dark-red: #861518;
  --color-off-black: #151515;

  --font-base: circe-slab-b, serif;
  --font-accent: Montserrat, sans-serif;
}
